*{
  font-family: 'Poppins', sans-serif;
  scrollbar-width: none;
}
h2{
  color:#dadada
}
body{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 2px green;
  margin: 0px;
  padding: 20px;
  padding-right: 75px;
  background-color: rgb(230, 217, 217);
}
a{
  text-decoration: none;
  color:#000029
}
#perfil{
    border-radius: 100%
}
li{
    font-size: 28px;
}
#navbar{
  background-color: #000029;
  margin: 0;
  width: 100%;
  top: 0;
}
#intro{
  height: 100vh;
  width: 100%;
  background-color: #000029;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  background: linear-gradient(45deg, yellow, white);
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-weight: bold;
}
p{
  color: #dadada;
  font-size: 20px;
  line-height: 36px;
}
#historia{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000029;
  text-align: center;
  align-items: center;
}
#hobbies{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000029;
  text-align: center;
  align-items: center;
}
#favoritos{
    display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000029;
  text-align: center;
}
#teclado{
    width: 400px;
    height: 300px;
}
#lore{
    max-width: 70%;
    font-size: 24px;
}
.imagem-fav{
    width: 400px;
    height: 400px;
}
.descricao-favorito{
    max-width: 70%;
    font-size: 24px;
}
.favorito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-favorito{
    font-size: 36px;
    color:aliceblue;
}
#ditado{
    font-size: 48px;
}
.secao{
  font-size:48px;
  background: linear-gradient(45deg, yellow, white);
  background-clip: text;
  color: transparent;
}
#hobby-texto{
  font-size: 24px;
  max-width: 70%;
}